In [1]:
import pandas as pd

In [4]:
people = {
    'first': ['Jane','John','Joe'],
    'last': ['Doe','Smith','Hoe'],
    'email': ['JaneDoe@emailcom', 'JohnSmith@email.com','JoeHoe@email.com']
}

In [7]:
people = pd.DataFrame(people)

In [13]:
people.columns = ['first_name','last_name','email']

In [14]:
people.columns = [x.upper() for x in people.columns]
people

  FIRST_NAME LAST_NAME                EMAIL
0       Jane       Doe     JaneDoe@emailcom
1       John     Smith  JohnSmith@email.com
2        Joe       Hoe     JoeHoe@email.com

In [17]:
people.columns = people.columns.str.replace('_', ' ')
people

  FIRST NAME LAST NAME                EMAIL
0       Jane       Doe     JaneDoe@emailcom
1       John     Smith  JohnSmith@email.com
2        Joe       Hoe     JoeHoe@email.com

In [20]:
people.columns = people.columns.str.replace(' ','_')
people.columns = [x.lower() for x in people.columns]
people

  first_name last_name                email
0       Jane       Doe     JaneDoe@emailcom
1       John     Smith  JohnSmith@email.com
2        Joe       Hoe     JoeHoe@email.com

In [26]:
people.rename(columns = 
              {'first_name':'first',
              'last_name':'last'},
              inplace=True
             )

In [ ]:
people