In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/private/var/mobile/Containers/Data/Application/75B952C2-8D4C-4F28-8D25-F02982BE16C8/Documents/survey_results_public.csv',
                index_col = 'Respondent')
schema_df = pd.read_csv('/private/var/mobile/Containers/Data/Application/75B952C2-8D4C-4F28-8D25-F02982BE16C8/Documents/survey_results_schema.csv',
                index_col = 'Column')
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)
pd.set_option('display.max_colwidth', None)

In [3]:
high_salary = (df['ConvertedComp'] > 70000 )

In [4]:
df.loc[high_salary,
       ['Country','LanguageWorkedWith','ConvertedComp']
      ]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
6,Canada,Java;R;SQL,366420.0
9,New Zealand,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;Python;Ruby;Rust;SQL;TypeScript;WebAssembly;Other(s):,95179.0
13,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;SQL;TypeScript,90000.0
16,United Kingdom,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;TypeScript;VBA,455352.0
22,United States,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;Python;Ruby;SQL;TypeScript,103000.0
...,...,...,...
88876,United States,Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;R;Scala,180000.0
88877,United States,Bash/Shell/PowerShell;C;Clojure;HTML/CSS;Java;Scala;Swift;Other(s):,2000000.0
88878,United States,HTML/CSS;JavaScript;Scala;TypeScript,130000.0
88879,Finland,Bash/Shell/PowerShell;C++;Python,82488.0
88882,Netherlands,C#;HTML/CSS;Java;JavaScript;PHP;Python,588012.0

In [5]:
countries = ['United States', 
             'India',
             'United Kingdom',
             'Germany'
             'Canada'
            ]
filt = df['Country'].isin(countries)

In [6]:
df.loc[filt,'Country']

Respondent
1        United Kingdom
4         United States
8                 India
10                India
13        United States
              ...
84539    United Kingdom
85642     United States
85961    United Kingdom
86012             India
88282     United States
Name: Country, Length: 35747, dtype: object

In [8]:
filt1 = df['LanguageWorkedWith'].str.contains('Python', na = False)

In [10]:
df.loc[filt1, 'LanguageWorkedWith']

Respondent
1                                        HTML/CSS;Java;JavaScript;Python
2                                                    C++;HTML/CSS;Python
4                                                    C;C++;C#;Python;SQL
5                            C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
8        Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;JavaScript;Python;SQL
                                      ...
84539    Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;JavaScript;Python;SQL
85738                    Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):
86566                    Bash/Shell/PowerShell;HTML/CSS;Python;Other(s):
87739                           C;C++;HTML/CSS;JavaScript;PHP;Python;SQL
88212                                         HTML/CSS;JavaScript;Python
Name: LanguageWorkedWith, Length: 36443, dtype: object